
.nbprofiler/*
/linux_netbeans_run_user_home/.nbprofiler/*

*.class
*.bin
hs_err_pid*.log
*.timestamp
/netbeans_run_user_home/.oracle_jre_usage/
/netbeans_run_user_home/.java/*
.java
addons.sccs
C:\\Users\\shackle\\Documents\\NetBeansProjects\\aprs-framework\\netbeans_run_user_home/*
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
.~lock.*


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
.attach_pid*
hs_err_pid*
/target
/local

# log and err files
run*.log
run*.err
/nbproject/
linux_netbeans_run_user_home/.crcl_pendant_client_recent_files
netbeans_run_user_home/.crcl_pendant_client_recent_files
linux_netbeans_run_user_home/crclSchemas
linux_netbeans_run_user_home/crclSchemas/*
linux_netbeans_run_user_home/crclXmlSchemas/*
netbeans_run_user_home/crclSchemas
netbeans_run_user_home/crclSchemas/*
netbeans_run_user_home/crclXmlSchemas/*
netbeans_run_user_home/.crcljava_ui_cmd_schemas.txt
netbeans_run_user_home/.crcljava_ui_program_schemas.txt
netbeans_run_user_home/.crcljava_ui_stat_schemas.txt
netbeans_run_user_home/.aprs/lastPropsFileName.txt
netbeans_run_user_home/.crcljava/clientsettingsref
netbeans_run_user_home/.dbsetup_recent.txt
linux_netbeans_run_user_home/.crcljava_ui_cmd_schemas.txt
linux_netbeans_run_user_home/.crcljava_ui_program_schemas.txt
linux_netbeans_run_user_home/.crcljava_ui_stat_schemas.txt
linux_netbeans_run_user_home/.aprs/lastPropsFileName.txt
linux_netbeans_run_user_home/.crcljava/clientsettingsref
linux_netbeans_run_user_home/.dbsetup_recent.txt

*.o.d
*.VC.opendb
*.exe
_ErrorLog.txt
pom.xml.versionsBackup
release.properties


/tools/java/crcl4java/crcl4java-motoman/NetBeansProjects/MotoPlusTcpSvr/nbproject/Makefile-Debug.mk
/tools/java/crcl4java/crcl4java-motoman/NetBeansProjects/MotoPlusTcpSvr/nbproject/Makefile-variables.mk
/tools/java/crcl4java/crcl4java-motoman/NetBeansProjects/MotoPlusTcpSvr/nbproject/Package-Debug.bash
/tools/java/crcl4java/crcl4java-motoman/NetBeansProjects/MotoPlusTcpSvr/nbproject/private/configurations.xml
/tools/java/crcl4java/crcl4java-motoman/motoPlusTcpServer/motoPlusTcpServer/FS100/motoPlusTcpServer.log

/tools/java/crcl4java/crcl4java-motoman/NetBeansProjects/MotoPlusTcpSvr/build/
/tools/java/crcl4java/crcl4java-motoman/target/
/tools/java/crcl4java/crcl4java-zeroc-ice/target/
/tools/java/crcl4java/crcl4java-motoman/motoPlusTcpServer/motoPlusTcpServer/FS100/



/bin/
linux_netbeans_run_user_home/.recentActionListsFile
