*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
.~lock.*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
.attach_pid*
hs_err_pid*
/target
/local

# log and err files
run*.log
run*.err
/nbproject/

*.out
*.o.d
*.VC.opendb
*.exe
_ErrorLog.txt
pom.xml.versionsBackup
release.properties


/tools/java/crcl4java/crcl4java-motoman/NetBeansProjects/MotoPlusTcpSvr/nbproject/Makefile-Debug.mk
/tools/java/crcl4java/crcl4java-motoman/NetBeansProjects/MotoPlusTcpSvr/nbproject/Makefile-variables.mk
/tools/java/crcl4java/crcl4java-motoman/NetBeansProjects/MotoPlusTcpSvr/nbproject/Package-Debug.bash
/tools/java/crcl4java/crcl4java-motoman/NetBeansProjects/MotoPlusTcpSvr/nbproject/private/configurations.xml
/tools/java/crcl4java/crcl4java-motoman/motoPlusTcpServer/motoPlusTcpServer/FS100/motoPlusTcpServer.log

/tools/java/crcl4java/crcl4java-motoman/NetBeansProjects/MotoPlusTcpSvr/build/
/tools/java/crcl4java/crcl4java-motoman/target/
/tools/java/crcl4java/crcl4java-zeroc-ice/target/
/tools/java/crcl4java/crcl4java-motoman/motoPlusTcpServer/motoPlusTcpServer/FS100/



